main {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

.container_head {
    border-bottom: 3px solid var(--shade-100);
    padding-bottom: .8rem;
    font-size: 1.8rem;
}

.container_head h1 {
    font-size: 3rem;
}

.container_body {
    margin-top: 1rem;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: var(--shade-500);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    outline: 3px solid var(--shade-500);
    transition: .15s ease-out;
}

.btn:hover {
    outline-offset: 3px;
}

.btn:focus {
    outline-offset: 0px;
}

.btn.validate {
    background-color: var(--shade-100);
    outline-color: var(--shade-100);
}

.btn.cancel, .btn.delete {
    background-color: var(--orange);
    outline-color: var(--orange);
}