main {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 100vh;
}

.hidden {
    display: none;
}

.container_head {
    border-bottom: 3px solid var(--shade-100);
    padding-bottom: .8rem;
    font-size: 1.8rem;
}

.container_head h1 {
    font-size: 3rem;
}

.container_body {
    margin-top: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: max-content;
    padding: 0.8rem 1rem;
    font-size: 1.3rem;
    color: var(--text-color);
    background-color: var(--shade-100);
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    outline: 3px solid var(--shade-100);
    transition: .15s ease-out;
}

.btn:hover {
    outline-offset: 3px;
}

.btn.iconBeforeText {
    flex-direction: row-reverse;
}

/* 

? J'ai enlevé parce que apres on voit pas sur quel bouton on est

.btn:focus {
    outline-offset: 0px;
} */

.btn.main {
    color: var(--text-color);
    background-color: var(--main);
    outline-color: var(--main);
}

.btn.validate,
.btn.secondary {
    color: var(--shade-500);
    background-color: var(--secondary);
    outline-color: var(--secondary);
}

.btn.cancel,
.btn.delete,
.btn.danger {
    color: var(--shade-500);
    background-color: var(--orange);
    outline-color: var(--orange);
}

.btn.dark {
    color: var(--light);
    background-color: var(--dark);
    outline-color: var(--dark);
}

form {
    padding: 1rem;
}

form .input_container {
    position: relative;
    margin-bottom: 1.6rem;
}

form .input_container input {
    cursor: pointer;
    background-color: var(--shade-500);
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 1rem .5rem .5rem .5rem;
    text-indent: .4rem;
    outline: 2.4px solid transparent;
    transition: all ease-out .18s;
    width: 100%;
}

form .input_container label {
    cursor: pointer;
    font-size: 1.3rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    z-index: 4;
    transform: translate(0, -50%);
    user-select: none;
    opacity: .4;
    transition: all ease-out .18s;
}

form .input_container input:focus+label,
form .input_container input:valid+label {
    font-size: 1rem;
    left: 1rem;
    top: 0;
    z-index: 4;
    transform: translate(0, -50%);
    background-color: var(--shade-100);
    color: var(--shade-500);
    border-radius: 2px;
    padding: .3rem .6rem;
    opacity: 1;
}

form .input_container:hover input {
    outline: 2.4px solid var(--shade-100);
    outline-offset: 4px;
}

form .input_container input:focus,
form .input_container input:valid {
    outline: 2.4px solid var(--shade-100);
    outline-offset: 0px;
}