:root {
    --theme-color: #000;
    --cc-dark: #202020;
    --cc-light: #F8F8F8;
}

::selection {
    background: var(--cc-light);
    color: var(--cc-dark);
}

html, body {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    min-height: 100%;
    font-family: sans-serif;
    color: var(--cc-dark);
    background-color: var(--cc-light);
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    background: none;
    font-style: normal;
    text-decoration: none;
    color: unset;
    margin: 0;
    padding: 0;
}