:root {
    --main: #73BA9B;
    --background: #D5F2E3;
    --main: #73BA9B;
    --secondary: #003E1F;
    --text-color: #01110A;
    --light: #f4f4f4;
    --dark: #2A2D34;
    --orange: #BA2D0B;
    --shade-100: #73BA9B;
    --shade-200: #8CC8AC;
    --shade-300: #A5D6BE;
    --shade-400: #BDE4D0;
    --shade-500: #D5F2E3;
}

@font-face {
    font-family: "Documan";
    src: url("../fonts/Documan/DocumanBold.otf") format("opentype"),
        url("../fonts/Documan/DocumanRegular.otf") format("opentype");
}

@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit/Kanit-Regular.ttf") format("opentype"),
        url("../fonts/Kanit/Kanit-Bold.ttf") format("opentype");
}

::selection {
    background: var(--dark);
    color: var(--light);
}

html,
body {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    min-height: 100vh;
    font-family: 'Kanit', Kanit, 'Comfortaa', 'Arial', sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
.h {
    font-family: 'Documan', Documan, Impact, sans-serif;
    font-weight: bold;
    color: var(--secondary);
}

* {
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border: none;
    background: none;
    font-style: normal;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
}

svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}