body {
    background-image: url("/public/assets/images/background.svg");
    background-size: cover;
}

main {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

main div {
    text-align: center;
}

main div h1 {
    transition: .23s ease-out;
    font-size: 13vw;
    color: #0f6b43;
    transform: rotate(-28deg) skew(25deg);
    filter: drop-shadow(-10px 10px .2px #23bf7b) 
        drop-shadow(-7.5px 7.5px .2px #23bf7b) 
        drop-shadow(-5px 5px .2px #23bf7b) 
        drop-shadow(-2.5px 2.5px .2px #23bf7b);
    font-family: 'Impact';
}

main div h1:hover {
    transform: rotate(-28deg) skew(25deg) scale(1.2);
}

main div h2 {
    margin-top: 6rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

main div h2 span {
    color: var(--shade-500);
    background: var(--text-color);
    padding: .4rem 1.4rem;
    border-radius: 99rem;
    max-width: 16rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

main div a {
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--shade-500);
    text-decoration: none;
    padding: .6rem 2rem;
    border-radius: 3px;
    margin: 3rem auto 0 auto;
    font-size: 1.4rem;
    display: block;
    width: fit-content;
    outline: 3px solid transparent;
    transition: .19s ease-in;
}

main div a:hover {
    outline-color: var(--text-color);
    outline-offset: 4px;
}

main div a:focus {
    outline-offset: 0;
}