main {
    padding: 0 2rem;
}

.return {
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 150px;
}

.user {
    margin-top: 2rem;
    width: fit-content;
}

.user__greeting {
    font-size: 1.8rem;
}

.user__name {
    font-size: 3rem;
}

.user__subtitle {
    margin-top: 0.5rem;
    font-size: 1.8rem;
    color: var(--main);
}

.container_head a {
    max-width: 10vw;
    margin: 2rem 0;
}

.list_container {
    width: 75vw;
    margin: 1rem;
    padding: 2.5rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    border: 1px var(--main);
    border-style: solid none none none;
}

.list_item {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    text-align: center;
}

.general_container {
    display: flex;
    justify-content: flex-end;
}

.general_container a {
    width: 300px;
}