main {
    padding: 0 2rem;
}

main .container {
    padding-top: 2rem;
}

.header {
    padding-bottom: 1.5rem;
    display: grid;
    gap: 1rem;
    border: 1px var(--main);
    border-style: none none solid none;
}

.disconnect {
    place-self: end;
    width: fit-content;
    height: fit-content;
}

.disconnect__button {
    display: block;
    background-image: url("/public/assets/icons/disconnect.svg");
    background-size: cover;
    min-width: 40px;
    min-height: 40px;
}

.user {
    width: fit-content;
}

.user__greeting {
    font-size: 1.8rem;
}

.user__name {
    font-size: 3rem;
    text-align: center;
}

.general_container {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.params_title {
    font-size: 1.6rem;
    display: block;
}

.params_subtitle {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    display: block;
}

.flex_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.flex_container.space {
    justify-content: space-between;
    gap: 1rem;
}

.flex_container.column {
    flex-direction: column;
    margin-bottom: 2rem;
}

form {
    padding: 1rem 0;
}

form .input_container input {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
}

form .input_container input[type="number"] {
    background-color: var(--shade-300);
}