body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

header {
    background-color: var(--background);
    display: grid;
    place-items: center;
    width: 100%;
    z-index: 999;
}

header section {
    width: 100%;
    padding: 8px;
}

header h1 {
    font-size: 1.5rem;
    margin: 3px;
    text-align: center;
}

header section p {
    text-align: center;
    font-size: 1rem;
}

header .disconnect {
    place-self: end;
    width: fit-content;
    height: fit-content;
}

header .disconnect a {
    width: fit-content;
    height: fit-content;
}

header .disconnect div {
    background-image: url("/public/assets/icons/disconnect.svg");
    background-size: cover;
    width: 40px;
    height: 40px;
}

header .dates {
    width: 75%;
    border: 3px var(--main);
    border-style: solid none;
}